.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .blogContainer {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    gap: 30px;
  }
  
  .blogPost {
    margin-bottom: 20px;
    background-color: var(--dark-slate-gray);
    border: 1px solid var(--dark-slate-gray);
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .blogPost:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }
  
  .postTitle {
    font-size: 1.5rem;
    color: var(--orange-peel);
    margin-bottom: 10px;
  }
  
  .postExcerpt {
    color: var(--pistachio);
    margin-bottom: 15px;
    line-height: 1.6;
    text-align: left;
  }

  .loading {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
    margin-top: 50px;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(140, 192, 132, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
  
  .modalContent {
    background: var(--dark-slate-gray); /* Match the card color */
    padding: 20px;
    border-radius: 5px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    color: var(--pistachio);
    font-size: 1.4rem;
    text-align: justify;
  }

  .modalContent h2 {
    color: var(--orange-peel);
    display: flex;
    text-align: center;
    margin: 10px auto;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 2em;
  }

  .textContent{
    font-size: 1.3em;
  } 
  
  .closeButton {
    margin-top: 10px;
    padding: 5px 10px;
    background: var(--pistachio);
    color: var(--dark-slate-gray);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 10px auto;
    display: flex;
    font-size: 0.7em;
  }

  .closeButton:hover {
    background: var(--orange-peel);
    color: var(--dark-slate-gray);
  }
  
  .readMoreButton {
    background: var(--pistachio);
    color: var(--dark-slate-gray);
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
  }

  .readMoreButton:hover {
    background: var(--orange-peel);
    color: var(--dark-slate-gray);
  }

  @media (max-width: 768px) {
    .readMoreButton{
      margin: 0 auto;
      display: flex;
    }

    .modalContent{
      padding: 25px;
    }
  }