.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.videoItem {
  width: 100%;
  max-width: 400px;
  margin: 10px;
  padding: 20px;
  background-color: var(--dark-slate-gray);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 0px 10px var(--pistachio);
  flex: 1 1 100%; /* Single column on phone-sized screens */
}

.title {
  font-size: 3rem;
  color: var(--orange-peel);
  margin-bottom: 20px;
  margin-top:0px;
  text-align: center;
  text-shadow: 1px 1px 1px var(--turquoise);
}

.video {
  width: 100%;
  height: calc(100vw * 16 / 9); /* Maintain 9:16 aspect ratio */
  max-height: 600px; /* Limit max height for larger screens */
  border: none;
}

.card {
  background-color: var(--pistachio);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: justify;
}

.cardDescription {
  font-size: 1.2rem;
  color: var(--dark-slate-gray);
}

@media (min-width: 768px) {
  .videoItem {
    flex: 1 1 calc(50% - 40px); /* Adjusts to 2 items per row on tablets */
  }

  .video {
    height: calc(33.333vw * 16 / 9); /* Adjust height for tablets */
    max-height: 700px; /* Limit max height for tablets */
  }
}

@media (min-width: 1024px) {
  .videoItem {
    flex: 1 1 calc(33.333% - 40px); /* Adjusts to 3 items per row on larger screens */
  }

  .video {
    height: calc(33.333vw * 16 / 9); /* Maintain aspect ratio for larger screens */
    max-height: 700px; /* Limit max height for larger screens */
  }
}
