@font-face {
  font-family: 'Afacad Flux';
  src: url('./fonts/AfacadFlux.ttf') format('truetype');
  /* Adjust the path and format as necessary based on your font file */
  font-weight: normal;
  font-style: normal;
}

:root {
  --dark-slate-gray: #346039;
  --pistachio: #8cc084ff;
  --orange-peel: #f9a43dff;
  --turquoise: #4BAED5;
  --dark-cyan:  #C7D3E0;
}

body {
  background-image:linear-gradient(rgba(75, 174, 213, 0.00), var(--dark-slate-gray)), url('/background2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--pistachio);
}

/* Add a semi-transparent overlay to improve text readability */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value (0.5) to change opacity */
  z-index: -1;
}

/* Ensure content is above the overlay */
#__next {
  position: relative;
  z-index: 1;
}

html {
  height: 100%;
}

a {
  color: var(--orange-peel);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--turquoise);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dark-cyan);
}

.button {
  background-color: var(--turquoise);
  color: var(--dark-slate-gray);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--jasper);
}
